# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build dir
build/

# No for the component git repos
compiler/
zephyr/

# Settings dirs
.venv/
.west/
*.user
.idea/

# Docker
docker/.WEST_INITIALIZED
flash.bin

# dummy files
null.cpp
